body{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header,footer{
    background-color: #F23005;
    color: white;
    text-align: center;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-heman{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

button{
    border: 1px solid #F23005;
    background-color: #BFBFBF;
    padding: 10px;
    color: #F23005;
    cursor: pointer;
}

.modo-escuro{
    background-color: black;
    border: 1px solid white;
    color: white;
}

